# Useful Python functions

This notebook provides some helpful python functions that allow data cleaning for some of the trickiest dataets to download-

Next there is the example of the dataset available at: https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Economia/Renda_i_tributs/Distribucio_territorial_renda/evo/rfbarris.htm

In [1]:
import pandas as pd
import numpy as np

In [2]:
# In pandas.read_excel there are some parameters that allow you to choose the header row or the colums you want to use
# and remove other columns

df = pd.read_excel('../dataset_renta.xlsx', header = 8, 
                   usecols = [0,4,5,6,7])

In [3]:
# We replace the names of the variables from the dataset

df.columns = ['Barri', 'T1', 'T2', 'T3', 'T4']

# dropna() removes all the rows with nan values
df = df.dropna()

# You can remove rows, in this case the first one
df = df.drop(index = 0)


# Some of the datasets can have blank spaces in the string values, with a simple map a lambda function and the
# function lstrip  (left-strip) you can get rido of certain characters
df.Barri.map(lambda x : x.lstrip('     '))

# Again, it can be that some string have other no desirable characters, you can first replace them to blank spaces
# and then remove all of them from certain columns
df[['Districte', 'Barri']] = [i.replace('\xa0', ' ').split(' ', 1) for i in df.Barri]
[i.lstrip(' ').rstrip(' ') for i in df.Barri]

['1. el Raval',
 '2. el Barri Gòtic',
 '3. la Barceloneta',
 '4. Sant Pere, Santa Caterina i la Ribera',
 '5. el Fort Pienc',
 '6. la Sagrada Família',
 "7. la Dreta de l'Eixample",
 "8. l'Antiga Esquerra de l'Eixample",
 "9. la Nova Esquerra de l'Eixample",
 '10. Sant Antoni',
 '11. el Poble Sec - AEI Parc Montjuïc',
 '12. la Marina del Prat Vermell - AEI Zona Franca',
 '13. la Marina de Port',
 '14. la Font de la Guatlla',
 '15. Hostafrancs',
 '16. la Bordeta',
 '17. Sants - Badal',
 '18. Sants',
 '19. les Corts',
 '20. la Maternitat i Sant Ramon',
 '21. Pedralbes',
 '22. Vallvidrera, el Tibidabo i les Planes',
 '23. Sarrià',
 '24. les Tres Torres',
 '25. Sant Gervasi - la Bonanova',
 '26. Sant Gervasi - Galvany',
 '27. el Putxet i el Farró',
 '28. Vallcarca i els Penitents',
 '29. el Coll',
 '30. la Salut',
 '31. la Vila de Gràcia',
 "32. el Camp d'en Grassot i Gràcia Nova",
 '33. el Baix Guinardó',
 '34. Can Baró',
 '35. el Guinardó',
 "36. la Font d'en Fargues",
 '37. el Carmel',
 '38. la Teixonera',
 '39. Sant Genís dels Agudells',
 '40. Montbau',
 "41. la Vall d'Hebron",
 '42. la Clota',
 '43. Horta',
 '44. Vilapicina i la Torre Llobeta',
 '45. Porta',
 '46. el Turó de la Peira',
 '47. Can Peguera',
 '48. la Guineueta',
 '49. Canyelles',
 '50. les Roquetes',
 '51. Verdun',
 '52. la Prosperitat',
 '53. la Trinitat Nova',
 '54. Torre Baró',
 '55. Ciutat Meridiana',
 '56. Vallbona',
 '57. la Trinitat Vella',
 '58. Baró de Viver',
 '59. el Bon Pastor',
 '60. Sant Andreu',
 '61. la Sagrera',
 '62. el Congrés i els Indians',
 '63. Navas',
 "64. el Camp de l'Arpa del Clot",
 '65. el Clot',
 '66. el Parc i la Llacuna del Poblenou',
 '67. la Vila Olímpica del Poblenou',
 '68. el Poblenou',
 '69. Diagonal Mar i el Front Marítim del Poblenou',
 '70. el Besòs i el Maresme',
 '71. Provençals del Poblenou',
 '72. Sant Martí de Provençals',
 '73. la Verneda i la Pau']

In [4]:
# If you want to split a column into two different oclumsn, you can use the function split()
#indicating on what character to split
df[['New_variable', 'Barri']] = [i.split('.', 1) for i in df.Barri]

# You can drop non desired columnso or rows using drop(), axis = 0 are columns, 1 are rows
df = df.drop(labels = 'New_variable', axis = 1)

# There might be some difficult converting strings to numeric values:
# First make a list of the desired numeric columns
numeric_columns = ['T1','T2','T3','T4']

# Using a for loop you can replace the '.' for blank spaces and the ',' to '.' so the function
# pandas.to_numeric can convert the strings to numbers
for i in numeric_columns:
    df[i.strip()] = pd.to_numeric(df[i].str.strip('\xa0').map(lambda x : x.replace('.', '')).map(lambda x : x.replace(',', '.')).replace(['nd','-'], np.nan))

pd.set_option('display.max_rows', 10)
df

,Barri,T1,T2,T3,T4,Districte
2,el Raval,864.5,853.3,833.9,787.0,1
3,el Barri Gòtic,1110.2,1041.0,982.5,1003.9,1
4,la Barceloneta,899.5,856.5,823.1,875.0,1
5,"Sant Pere, Santa Caterina i la Ribera",1030.0,919.8,970.9,888.9,1
6,el Fort Pienc,1059.9,999.9,997.4,959.5,2
...,...,...,...,...,...,...
70,Diagonal Mar i el Front Marítim del Poblenou,1233.2,840.9,1074.4,1392.6,10
71,el Besòs i el Maresme,749.7,696.9,801.5,731.6,10
72,Provençals del Poblenou,1000.1,1076.6,956.8,859.9,10
73,Sant Martí de Provençals,863.0,854.3,822.4,807.4,10
74,la Verneda i la Pau,765.3,767.5,782.4,765.9,10